/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    background-color: #F3FDF3;
    color: #2F4F4F;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #98FF98;
    font-size: 2.5rem;
    margin-top: 20px;
}

#map {
    height: 70vh;
    width: 90%;
    margin: 20px auto;
    border: 3px solid #A2E8C4;
    border-radius: 10px;
}

#places-tab {
    width: 90%;
    margin: 20px auto;
    background-color: #E8FFF4;
    border: 2px solid #98FF98;
    border-radius: 10px;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #fff;
    border: 1px solid #98FF98;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    background-color: #98FF98;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #76e076;
}
